USE [QLKS]
GO
/****** Object:  StoredProcedure [dbo].[DANHSACHPHONGDADAT]    Script Date: 7/3/2023 3:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DANHSACHPHONGDADAT] 
AS
BEGIN
	SELECT *
	FROM Phong P, LoaiPhong LP
	WHERE P.IDLoai = LP.IDLoai AND P.TrangThai LIKE N'%Đã đặt%'
END

GO
/****** Object:  StoredProcedure [dbo].[DANHSACHPHONGTRONG]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DANHSACHPHONGTRONG] 
AS
BEGIN
	SELECT *
	FROM Phong P, LoaiPhong LP
	WHERE P.IDLoai = LP.IDLoai AND P.TrangThai LIKE N'%Trống%'
END

GO
/****** Object:  StoredProcedure [dbo].[GIA_DICHVU]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GIA_DICHVU]
	@IDDICHVU VARCHAR(50)
AS
BEGIN
	SELECT Gia
	FROM DichVu
	WHERE IDDichVu = @IDDICHVU
END

GO
/****** Object:  StoredProcedure [dbo].[GIA_DICHVUTOUR]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GIA_DICHVUTOUR]
	@TOUR VARCHAR(50)
AS
BEGIN
	SELECT Gia
	FROM TourDuLich
	WHERE IDTour = @TOUR
END

GO
/****** Object:  StoredProcedure [dbo].[GIA_PHONG]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GIA_PHONG]
	@IDPHONG VARCHAR(50)
AS
BEGIN
	SELECT L.GIA
	FROM Phong P, LoaiPhong L
	WHERE P.IDPhong = @IDPHONG AND P.IDLoai = L.IDLoai
END

GO
/****** Object:  StoredProcedure [dbo].[HIENTHIPHONGTHEOBOLOC]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HIENTHIPHONGTHEOBOLOC] 
	@TRANGTHAI NVARCHAR(50),  
	@LOAI NVARCHAR(50),
	@TINHTRANG NVARCHAR(50)
AS
BEGIN
	IF @TRANGTHAI LIKE N'%Tất cả%' AND @LOAI LIKE N'%Tất cả%' AND @TINHTRANG LIKE N'%Tất cả%'
	BEGIN
		SELECT *
		FROM Phong P, LoaiPhong LP
		WHERE  P.IDLoai = LP.IDLoai 
	END
	ELSE IF @TRANGTHAI LIKE N'%Tất cả%'
	BEGIN
		IF @LOAI LIKE N'%Tất cả%'
		BEGIN
			SELECT *
			FROM Phong P, LoaiPhong LP
			WHERE P.TinhTrang = @TINHTRANG AND LP.IDLoai = P.IDLoai
		END
		ELSE IF @TINHTRANG LIKE N'%Tất cả%'
		BEGIN
			SELECT *
			FROM Phong P, LoaiPhong LP
			WHERE LP.Ten = @LOAI AND LP.IDLoai = P.IDLoai		
		END
		ELSE
		BEGIN
			SELECT *
			FROM Phong P, LoaiPhong LP
			WHERE P.TinhTrang = @TINHTRANG AND LP.Ten = @LOAI AND LP.IDLoai = P.IDLoai
		END
	END
	ELSE IF @LOAI LIKE N'%Tất cả%'
	BEGIN
		IF @TINHTRANG LIKE N'%Tất cả%'
		BEGIN
			SELECT *
			FROM Phong P, LoaiPhong LP
			WHERE P.TrangThai = @TRANGTHAI AND P.IDLoai = LP.IDLoai
		END
		SELECT *
		FROM Phong P, LoaiPhong LP
		WHERE P.TinhTrang = @TINHTRANG AND P.TrangThai = @TRANGTHAI AND P.IDLoai = LP.IDLoai
	END
	ELSE IF @TINHTRANG LIKE N'%Tất cả%'
	BEGIN
		SELECT *
		FROM Phong P, LoaiPhong LP
		WHERE P.TrangThai = @TRANGTHAI AND LP.Ten = @LOAI AND LP.IDLoai = P.IDLoai
	END
	ELSE
	BEGIN
		SELECT *
		FROM Phong P, LoaiPhong LP
		WHERE P.TinhTrang = @TINHTRANG AND P.TrangThai = @TRANGTHAI AND LP.Ten = @LOAI AND LP.IDLoai = P.IDLoai
	END
END

GO
/****** Object:  StoredProcedure [dbo].[KIEMTRAACCOUNT]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[KIEMTRAACCOUNT]
	@USERNAME VARCHAR(50),  
	@PASSWORD VARCHAR(50)
AS
BEGIN
	IF @PASSWORD IN (SELECT pw FROM Account WHERE Username = @USERNAME)
	RETURN 1
	ELSE
	RETURN 0
END


GO
/****** Object:  StoredProcedure [dbo].[login]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[login] 
	@user NVARCHAR(50),
	@pass NVARCHAR(50)

AS
BEGIN
	SELECT* FROM [dbo].Account WHERE Username=@user and pw=@pass
END


GO
/****** Object:  StoredProcedure [dbo].[QUANLYHOADON]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[QUANLYHOADON]
AS
BEGIN
	SELECT DISTINCT HD.IDHoaDon, HD.IDKhachHang, KH.TenKH, TTDP.NgayCheckIn, TTDP.NgayCheckOut, HD.TongTien
	FROM HoaDon HD JOIN KhachHang KH ON HD.IDKhachHang = KH.IDKhachHang JOIN ThongTinDatPhong TTDP ON HD.IDKhachHang = TTDP.IDKhachHang
END

GO
/****** Object:  StoredProcedure [dbo].[SUA_THONGTINDATPHONG]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE /*or ALTER*/ PROC [dbo].[SUA_THONGTINDATPHONG]
	@IDKH VARCHAR(50),
	@IDP VARCHAR(50),
	@NGAYDAT DATE,
	@NGAYCHECKIN DATE,
	@NGAYCHECKOUT DATE,
	@SOLUONGNGUOI INT
AS
BEGIN
	-- KIỂM TRA CÁC TRƯỜNG THÔNG TIN CÓ BỊ TRỐNG KHÔNG
	IF (@IDP IS NULL OR @NGAYCHECKIN IS NULL OR @NGAYCHECKOUT IS NULL OR @IDKH IS NULL)
	BEGIN
		PRINT(N'THIẾU THÔNG TIN, VUI LÒNG ĐIỀN ĐẦY ĐỦ')
		RETURN 0
	END

	-- CẬP NHẬT THÔNG TIN ĐẶT PHÒNG
	UPDATE ThongTinDatPhong
	SET IDPhong = @IDP, NgayDat = @NGAYDAT, NgayCheckIn = @NGAYCHECKIN, NgayCheckOut = @NGAYCHECKOUT, SoLuongNguoi = @SOLUONGNGUOI
	WHERE IDKhachHang = @IDKH

	IF @@ERROR <> 0 RETURN 0
	ELSE RETURN 1
END

GO
/****** Object:  StoredProcedure [dbo].[SUA_THONGTINKHACHHANG]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SỬA THÔNG TIN KHÁCH HÀNG

CREATE /*or ALTER*/ PROC [dbo].[SUA_THONGTINKHACHHANG]
	@IDKH VARCHAR(50),
	@TENKH NVARCHAR(50),
	@CCCD VARCHAR(50),
	@DIACHI NVARCHAR(50),
	@SDT VARCHAR(50),
	@EMAIL VARCHAR(50)
AS
BEGIN
	UPDATE KhachHang
	SET TenKH = @TENKH, CCCD = @CCCD, DiaChi = @DIACHI, SDT = @SDT, Email = @EMAIL
	WHERE IDKhachHang = @IDKH

	IF @@ERROR <> 0 RETURN 0
	ELSE RETURN 1
END

GO
/****** Object:  StoredProcedure [dbo].[SUAACCOUNT]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SUAACCOUNT]
	@IDTK VARCHAR(50), 
	@USERNAME VARCHAR(50),  
	@PASSWORD VARCHAR(50),
	@QUYENHAN INT,
	@IDNHANVIEN VARCHAR(50)
AS
BEGIN
	UPDATE Account
	SET USERNAME = @USERNAME,
		pw = @PASSWORD,
		quyenhan = @QUYENHAN,
		IDNhanVien = @IDNHANVIEN
	WHERE IDTK = @IDTK
END

GO
/****** Object:  StoredProcedure [dbo].[SUADICHVU]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SUADICHVU]
	@IDDICHVU VARCHAR(50),
	@TENDV NVARCHAR(50),
	@GIA INT,
	@SL INT,
	@KM FLOAT,
	@TINHTRANG NVARCHAR(50)
AS
BEGIN

		UPDATE DichVu
		SET TenDV = @TENDV,
			Gia=@GIA,
			SL=@SL,
			KM=@KM,
			TinhTrang=@TINHTRANG
		WHERE IDDichVu = @IDDICHVU


END

GO
/****** Object:  StoredProcedure [dbo].[SUALOAIPHONG]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SUALOAIPHONG]
	@IDLOAI VARCHAR(50),
	@TEN NVARCHAR(50),
	@GIA INT,
	@SONGUOI INT
AS
BEGIN
	UPDATE LOAIPHONG
	SET TEN = @TEN,
		GIA = @GIA,
		SONGUOI = @SONGUOI
	WHERE IDLOAI = @IDLOAI
END
GO
/****** Object:  StoredProcedure [dbo].[SUANHANVIEN]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SUANHANVIEN]
	@IDNHANVIEN VARCHAR(50),
	@TENNV NVARCHAR(50),
	@CHUCVU NVARCHAR(50),
	@NGSINH DATE,
	@SDT VARCHAR(50),
	@EMAIL VARCHAR(50),
	@GIOITINH NVARCHAR(50),
	@CCCD VARCHAR(50),
	@DIACHI NVARCHAR(50)
AS
BEGIN
	UPDATE NHANVIEN
	SET TENNV = @TENNV,
		CHUCVU = @CHUCVU,
		NGSINH = @NGSINH,
		SDT = @SDT,
		EMAIL= @EMAIL,
		GIOITINH = @GIOITINH,
		CCCD = @CCCD,
		DIACHI = @DIACHI
	WHERE IDNHANVIEN = @IDNHANVIEN
END

GO
/****** Object:  StoredProcedure [dbo].[SUAPHONG]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SUAPHONG]
	@IDPHONG VARCHAR(50), 
	@TRANGTHAI NVARCHAR(50),  
	@IDLOAI VARCHAR(50),
	@TINHTRANG NVARCHAR(50)
AS
BEGIN
	UPDATE Phong
	SET TrangThai = @TRANGTHAI,
		TinhTrang = @TINHTRANG,
		IDLoai = @IDLOAI
	WHERE IDPhong = @IDPHONG
END

GO
/****** Object:  StoredProcedure [dbo].[SUAPHUONGTIEN]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SUAPHUONGTIEN]
	@IDNHAXE VARCHAR(50),
	@TENNHAXE NVARCHAR(50),
	@SDT VARCHAR(50),
	@GIODIEN INT,
	@GIA INT
AS
BEGIN

		UPDATE PhuongTien
		SET TenNhaXe = @TENNHAXE,
			SDT=@SDT,
			GioDen=@GIODIEN,
			Gia=@GIA
		WHERE IDNhaXe = @IDNHAXE

END

GO
/****** Object:  StoredProcedure [dbo].[SUATOURDULICH]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SUATOURDULICH]
	@IDTOUR VARCHAR(50), 
	@NCC NVARCHAR(50),  
	@NOIDUNG NVARCHAR(50),
	@GIA INT
AS
BEGIN
	UPDATE TourDuLich
	SET NCC = @NCC,
		NoiDung = @NOIDUNG,
		GIA = @GIA
	WHERE IDTour = @IDTOUR
END

GO
/****** Object:  StoredProcedure [dbo].[TAO_CTHDDATPHONG]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[TAO_CTHDDATPHONG]
	@IDHOADON VARCHAR(50),
	@IDPHONG VARCHAR(50),
	@TIENCOC INT,
	@TIENSAUCHECKOUT INT
AS
BEGIN
	INSERT INTO CTHDDatPhong VALUES (@IDHOADON, @IDPHONG, @TIENCOC, @TIENSAUCHECKOUT)
END 

GO
/****** Object:  StoredProcedure [dbo].[TAO_CTHDKEMTHEO]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[TAO_CTHDKEMTHEO]
	@STT INT,
	@IDHOADON VARCHAR(50),
	@IDTOUR VARCHAR(50),
	@IDDICHVU VARCHAR(50)
AS
BEGIN
	INSERT INTO CTHDKemTheo VALUES (@STT, @IDHOADON, @IDTOUR, @IDDICHVU)
END

GO
/****** Object:  StoredProcedure [dbo].[TAO_HOADON]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[TAO_HOADON]
	@IDHOADON VARCHAR(50),
	@NGAYLAP DATE,
	@PTTT NVARCHAR(50),
	@TONGTIEN INT,
	@IDNHANVIEN VARCHAR(50),
	@IDKHACHHANG VARCHAR(50)
AS
BEGIN
	INSERT INTO HoaDon VALUES (@IDHOADON, @NGAYLAP, @PTTT, @TONGTIEN, @IDNHANVIEN, @IDKHACHHANG)
END

GO
/****** Object:  StoredProcedure [dbo].[TENDV]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TENDV]

AS
BEGIN
	SELECT TenDV FROM DichVu WHERE IDDichVu LIKE 'DV%'
END

GO
/****** Object:  StoredProcedure [dbo].[TENSP]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TENSP]

AS
BEGIN
	SELECT TenDV FROM DichVu WHERE IDDichVu LIKE 'SP%'
END

GO
/****** Object:  StoredProcedure [dbo].[TENTOUR]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TENTOUR]

AS
BEGIN
	SELECT IDTour FROM TourDuLich 
END
GO
/****** Object:  StoredProcedure [dbo].[TIM_HOADONKHACHHANG]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TIM_HOADONKHACHHANG]
	@TENKH NVARCHAR(50)
AS
BEGIN
	SELECT DISTINCT HD.IDHoaDon, HD.IDKhachHang, KH.TenKH, TTDP.NgayCheckIn, TTDP.NgayCheckOut, HD.TongTien
	FROM HoaDon HD JOIN KhachHang KH ON HD.IDKhachHang = KH.IDKhachHang JOIN ThongTinDatPhong TTDP ON HD.IDKhachHang = TTDP.IDKhachHang
	WHERE KH.TenKH LIKE '%'+ @TENKH + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[TIM_THONGTINDATPHONG]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SEARCH THÔNG TIN ĐẶT PHÒNG

CREATE /*or ALTER*/ PROC [dbo].[TIM_THONGTINDATPHONG]
	@CCCD VARCHAR(50)
AS
BEGIN
	SELECT DISTINCT K.TenKH, T.NgayDat
	FROM ThongTinDatPhong T RIGHT JOIN KhachHang K ON T.IDKhachHang = K.IDKhachHang
	WHERE K.CCCD LIKE (@CCCD + '%')

	IF @@ERROR <> 0 RETURN 0
	ELSE RETURN 1
END

GO
/****** Object:  StoredProcedure [dbo].[TIM_THONGTINDATPHONG_1]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE /*or ALTER*/ PROC [dbo].[TIM_THONGTINDATPHONG_1]
	@IDPhong VARCHAR(50)
AS
BEGIN
	SELECT TOP 1 *
	FROM ThongTinDatPhong T
	WHERE t.IDPhong = @IDPhong
	ORDER BY T.IDKhachHang DESC
END
GO
/****** Object:  StoredProcedure [dbo].[TIM_THONGTINKHACHHANG]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE /*or ALTER*/ PROC [dbo].[TIM_THONGTINKHACHHANG]
	@CCCD VARCHAR(50)
AS
BEGIN
	SELECT K.IDKhachHang, K.TenKH, K.CCCD, K.DiaChi, K.SDT, K.Email
	FROM KhachHang K
	WHERE K.CCCD LIKE ('%' + @CCCD + '%')

	IF @@ERROR <> 0 RETURN 0
	ELSE RETURN 1
END
GO
/****** Object:  StoredProcedure [dbo].[TIM_THONGTINKHACHHANG_1]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE /*or ALTER*/ PROC [dbo].[TIM_THONGTINKHACHHANG_1]
	@IDPhong VARCHAR(50)
AS
BEGIN
	SELECT TOP 1 *
	FROM KhachHang K join ThongTinDatPhong t on k.IDKhachHang = t.IDKhachHang
	WHERE t.IDPhong = @IDPhong
	ORDER BY T.IDKhachHang DESC
END
GO
/****** Object:  StoredProcedure [dbo].[TIMACCOUNT]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TIMACCOUNT] @KEYWORD VARCHAR(50)
AS
BEGIN
	SELECT *
	FROM Account
	WHERE IDNhanVien LIKE '%' + @KEYWORD + '%'
END


GO
/****** Object:  StoredProcedure [dbo].[TIMDICHVU]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TIMDICHVU] @KEYWORD NVARCHAR(50)
AS
BEGIN
	SELECT *
	FROM DichVu
	WHERE TenDV LIKE '%' + @KEYWORD + '%'
END


GO
/****** Object:  StoredProcedure [dbo].[TIMDICHVU_ID]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TIMDICHVU_ID] @KEYWORD VARCHAR(50)
AS
BEGIN
	SELECT *
	FROM DichVu
	WHERE IDDichVu=@KEYWORD
end 

SELECT *
FROM DICHVU DV

SELECT *
FROM PhuongTien
GO
/****** Object:  StoredProcedure [dbo].[TIMLOAIPHONG]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TIMLOAIPHONG] @KEYWORD NVARCHAR(50)
AS
BEGIN
	SELECT *
	FROM LOAIPHONG
	WHERE TEN LIKE '%' + @KEYWORD + '%'
END

GO
/****** Object:  StoredProcedure [dbo].[TIMNHANVIEN]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TIMNHANVIEN] @KEYWORD NVARCHAR(50)
AS
BEGIN
	SELECT *
	FROM NHANVIEN
	WHERE TENNV LIKE '%' + @KEYWORD + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[TIMPHONG]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TIMPHONG] @KEYWORD NVARCHAR(50)
AS
BEGIN
	SELECT *
	FROM PHONG
	WHERE IDPHONG LIKE '%' + @KEYWORD + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[TIMPHUONGTIEN]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TIMPHUONGTIEN] @KEYWORD NVARCHAR(50)
AS
BEGIN
	SELECT *
	FROM PhuongTien
	WHERE GioDen =@KEYWORD 
END


GO
/****** Object:  StoredProcedure [dbo].[TIMPHUONGTIEN_ID]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TIMPHUONGTIEN_ID] @KEYWORD VARCHAR(50)
AS
BEGIN
	SELECT *
	FROM PhuongTien pt
	WHERE IDNhaxe=@KEYWORD
end 


SET ANSI_NULLS ON

GO
/****** Object:  StoredProcedure [dbo].[TIMTOURDULICH]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TIMTOURDULICH] @KEYWORD NVARCHAR(50)
AS
BEGIN
	SELECT *
	FROM TourDuLich
	WHERE NoiDung LIKE '%' + @KEYWORD + '%'
END


GO
/****** Object:  StoredProcedure [dbo].[TIMTOURDULICH_ID]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TIMTOURDULICH_ID] @KEYWORD VARCHAR(50)
AS
BEGIN
	SELECT *
	FROM TourDuLich
	WHERE IDTour=@KEYWORD
end 


SET ANSI_NULLS ON

GO
/****** Object:  StoredProcedure [dbo].[TOPDICHVU]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TOPDICHVU]
AS
BEGIN
	SELECT TOP 1 IDDichVu FROM DichVu ORDER BY IDDichVu DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[TOPPHUONGTIEN]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TOPPHUONGTIEN]
AS
BEGIN
	SELECT TOP 1 IDNhaXe FROM PhuongTien ORDER BY IDNhaXe DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[TOPTOURDULICH]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TOPTOURDULICH]
AS
BEGIN
	SELECT TOP 1 IDTour FROM TourDuLich ORDER BY IDTour DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[THEM_DANGKYDVSP]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEM_DANGKYDVSP]
	@IDKH VARCHAR(50),
	@TENDV VARCHAR(50),
	@SL INT,
	@LICHSD VARCHAR(50),
	@GIODK VARCHAR(50)
AS
BEGIN
	-- TÍNH THÀNH TIỀN SỬ DỤNG DỊCH VỤ
	DECLARE @TONGTIEN AS INT -- TỔNG TIỀN = ĐƠN GIÁ SAU KHI ÁP DỤNG KHUYẾN MÃI * SỐ LƯỢNG
	DECLARE @DONGIA AS INT -- ĐƠN GIÁ CỦA DỊCH VỤ
	DECLARE @KM AS FLOAT -- KHUYẾN MÃI DỊCH VỤ ÁP DỤNG
	DECLARE @ID AS VARCHAR(50)

	SET @ID = (SELECT DV.IDDichVu FROM DichVu DV WHERE DV.TenDV = @TENDV)
	SET @DONGIA = (SELECT DV.Gia FROM DichVu DV WHERE DV.IDDichVu = @ID) 
	SET @KM = (SELECT DV.KM FROM DichVu DV WHERE DV.IDDichVu = @ID)
	IF @KM !=0
	BEGIN
		SET @DONGIA = @DONGIA * (100 - @KM) / 100
	END

	SET @TONGTIEN = @DONGIA * @SL

	-- THÊM THÔNG TIN ĐĂNG KÝ DỊCH VỤ
	INSERT INTO DangKyDichVu(IDKhachHang, IDDichVu, GioDK, SL, LichSD, TongTien) VALUES (@IDKH, @ID, @GIODK, @SL, @LICHSD, @TONGTIEN)

END

GO
/****** Object:  StoredProcedure [dbo].[THEM_DANGKYDVTOUR]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE /*or ALTER*/ PROC [dbo].[THEM_DANGKYDVTOUR]
	@IDKH VARCHAR(50),
	@IDTOUR VARCHAR(50),
	@GIOXP VARCHAR(50),
	@SL INT
AS
BEGIN
	-- TÍNH THÀNH TIỀN CHO DỊCH VỤ TOUR KHÁCH HÀNG ĐĂNG KÝ
	DECLARE @DONGIA AS INT = (SELECT T.Gia FROM TourDuLich T WHERE T.IDTour = @IDTOUR)
	DECLARE @THANHTIEN AS INT = @DONGIA * @SL

	-- THÊM THÔNG TIN ĐĂNG KÝ DỊCH VỤ TOUR
	INSERT INTO DangKyTour (IDKhachHang, IDTour, GioXuatPhat, SoNguoiDi, TongTien) VALUES (@IDKH, @IDTOUR, @GIOXP, @SL, @THANHTIEN)

END 

GO
/****** Object:  StoredProcedure [dbo].[THEM_DANGKYTOUR]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEM_DANGKYTOUR]
	@IDKH VARCHAR(50),
	@ID VARCHAR(50),
	@GiODK VARCHAR(50),
	@GIOXUATPHAT VARCHAR(50),
	@SONGUOIDI int

AS
BEGIN
	DECLARE @DONGIA AS INT = (SELECT T.Gia FROM TourDuLich T WHERE T.IDTour = @ID)
	DECLARE @THANHTIEN AS INT = @DONGIA * @SoNguoiDi

	-- THÊM THÔNG TIN ĐĂNG KÝ DỊCH VỤ
	INSERT INTO DangKyTour(IDKhachHang, IDTour, GIODK, GioXuatPhat, SoNguoiDi, TongTien) VALUES (@IDKH, @ID, @GIODK, @GIOXUATPHAT, @SONGUOIDI, @THANHTIEN)

END

GO
/****** Object:  StoredProcedure [dbo].[THEM_THONGTINDATPHONG]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE /*or ALTER*/ PROC [dbo].[THEM_THONGTINDATPHONG]
	@IDKH VARCHAR(50),
	@IDP VARCHAR(50),
	@NGAYDAT DATE,
	@NGAYCHECKIN DATE,
	@NGAYCHECKOUT DATE,
	@SOLUONGNGUOI INT
AS
BEGIN
	-- KIỂM TRA CÁC TRƯỜNG THÔNG TIN CÓ BỊ TRỐNG KHÔNG
	IF (@IDP IS NULL OR @NGAYCHECKIN IS NULL OR @NGAYCHECKOUT IS NULL OR @IDKH IS NULL)
	BEGIN
		PRINT(N'THIẾU THÔNG TIN, VUI LÒNG ĐIỀN ĐẦY ĐỦ')
		RETURN 0
	END

	--KIỂM TRA ĐÃ ĐẶT PHÒNG CHƯA
	IF (EXISTS (SELECT 1 FROM ThongTinDatPhong T WHERE T.IDKhachHang = @IDKH AND T.IDPhong = @IDP))
	BEGIN
		PRINT(N'KHÁCH HÀNG ĐÃ ĐẶT PHÒNG NÀY RỒI')
		RETURN 0
	END

	-- LẤY NGÀY ĐẶT PHÒNG
	SET @NGAYDAT = GETDATE()

	-- THÊM THÔNG TIN ĐẶT PHÒNG
	INSERT INTO ThongTinDatPhong VALUES (@IDKH, @IDP, @NGAYDAT, @NGAYCHECKIN, @NGAYCHECKOUT, @SOLUONGNGUOI)

	IF @@ERROR <> 0 RETURN 0
	ELSE RETURN 1
END

GO
/****** Object:  StoredProcedure [dbo].[THEM_THONGTINKHACHHANG]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* BẢNG KhachHang */

-- THÊM THÔNG TIN KHÁCH HÀNG

CREATE /*or ALTER*/ PROC [dbo].[THEM_THONGTINKHACHHANG]
	@IDKH VARCHAR(50),
	@TENKH NVARCHAR(50),
	@CCCD VARCHAR(50),
	@SDT VARCHAR(50),
	@DIACHI NVARCHAR(50),
	@EMAIL VARCHAR(50),
	@FAX VARCHAR(50)
AS
BEGIN
	-- KIỂM TRA TRƯỜNG @IDKH, @TENKH, @CCCD, @SDT CÓ NULL KHÔNG
	IF (@IDKH IS NULL OR @TENKH IS NULL OR @CCCD IS NULL OR @SDT IS NULL)
	BEGIN
		PRINT(N'TÊN KHÁCH HÀNG HOẶC CCCD HOẶC SĐT BỊ TRỐNG, VUI LÒNG ĐIỀN THÔNG TIN')
		RETURN 0
	END

	-- THÊM THÔNG TIN KHÁCH HÀNG
	INSERT INTO KhachHang VALUES (@IDKH, @TENKH, @CCCD, @SDT, @EMAIL, @DIACHI, @FAX)

	IF @@ERROR <> 0 RETURN 0
	ELSE RETURN 1
END

GO
/****** Object:  StoredProcedure [dbo].[THEMACCOUNT]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEMACCOUNT] 
	@IDTK VARCHAR(50), 
	@USERNAME VARCHAR(50),  
	@PASSWORD VARCHAR(50),
	@QUYENHAN INT,
	@IDNHANVIEN VARCHAR(50)
AS
BEGIN
	INSERT INTO Account VALUES (@IDTK, @USERNAME, @PASSWORD, @QUYENHAN, @IDNHANVIEN)
END


GO
/****** Object:  StoredProcedure [dbo].[THEMDICHVU]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEMDICHVU] 
	@IDDICHVU VARCHAR(50),
	@TENDV NVARCHAR(50),
	@GIA INT,
	@SL INT,
	@KM FLOAT,
	@TINHTRANG NVARCHAR(50)
AS
BEGIN

	INSERT INTO DichVu VALUES (@IDDICHVU, @TENDV, @GIA, @SL, @KM, @TINHTRANG)
END


GO
/****** Object:  StoredProcedure [dbo].[THEMDOAN]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEMDOAN] 
	@IDDOAN VARCHAR(50), 
	@TENDOAN NVARCHAR(50), 
	@NGUOIDAIDIEN NVARCHAR(50), 
	@SONGUOI INT,
	@IDKhachHang NVARCHAR(50)
AS
BEGIN
	INSERT INTO Doan VALUES (@IDDOAN, @TENDOAN, @NGUOIDAIDIEN, @SONGUOI, @IDKhachHang)
END


GO
/****** Object:  StoredProcedure [dbo].[THEMDV_CTHDKEMTHEO]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[THEMDV_CTHDKEMTHEO]
	@STT INT,
	@IDHOADON VARCHAR(50),
	--@IDTOUR VARCHAR(50),
	@IDDICHVU VARCHAR(50)
AS
BEGIN
	INSERT INTO CTHDKemTheo(STT, IDHoaDon, IDDichVu) VALUES (@STT, @IDHOADON, @IDDICHVU)
END

GO
/****** Object:  StoredProcedure [dbo].[THEMLOAIPHONG]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEMLOAIPHONG] 
	@IDLOAI VARCHAR(50), 
	@TEN NVARCHAR(50), 
	@GIA INT, 
	@SONGUOI INT
AS
BEGIN
IF @IDLOAI IN (SELECT IDLOAI FROM LOAIPHONG)
	PRINT(N'ID PHÒNG ĐÃ TỒN TẠI') 
ELSE
	INSERT INTO LOAIPHONG VALUES (@IDLOAI, @TEN, @GIA, @SONGUOI)
END

GO
/****** Object:  StoredProcedure [dbo].[THEMNHANVIEN]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEMNHANVIEN]
	@IDNHANVIEN VARCHAR(50),
	@TENNV NVARCHAR(50),
	@CHUCVU NVARCHAR(50),
	@NGSINH DATE,
	@SDT VARCHAR(50),
	@EMAIL VARCHAR(50),
	@GIOITINH NVARCHAR(50),
	@CCCD VARCHAR(50),
	@DIACHI NVARCHAR(50)
AS
BEGIN
	INSERT INTO NHANVIEN 
	VALUES(@IDNHANVIEN, @TENNV, @CHUCVU, @NGSINH, @SDT, @EMAIL, @GIOITINH, @CCCD, @DIACHI)
END

GO
/****** Object:  StoredProcedure [dbo].[THEMPHONG]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEMPHONG] 
	@IDPHONG VARCHAR(50), 
	@TRANGTHAI NVARCHAR(50),  
	@IDLOAI VARCHAR(50),
	@TINHTRANG NVARCHAR(50)
AS
BEGIN
	INSERT INTO Phong VALUES (@IDPHONG, @TRANGTHAI, @IDLOAI, @TINHTRANG)
END


GO
/****** Object:  StoredProcedure [dbo].[THEMPHUONGTIEN]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEMPHUONGTIEN] 
	@IDNHAXE VARCHAR(50),
	@TENNHAXE NVARCHAR(50),
	@SDT VARCHAR(50),
	@GIODIEN INT,
	@GIA INT
AS
BEGIN
	INSERT INTO PhuongTien VALUES (@IDNHAXE, @TENNHAXE, @SDT, @GIODIEN, @GIA)
END

----------------------------------------------------------------------------

SET ANSI_NULLS ON

GO
/****** Object:  StoredProcedure [dbo].[THEMTOUR_CTHDKEMTHEO]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[THEMTOUR_CTHDKEMTHEO]
	@STT INT,
	@IDHOADON VARCHAR(50),
	@IDTOUR VARCHAR(50)
	--@IDDICHVU VARCHAR(50)
AS
BEGIN
	INSERT INTO CTHDKemTheo(STT, IDHoaDon, IDTour) VALUES (@STT, @IDHOADON, @IDTOUR)
END

GO
/****** Object:  StoredProcedure [dbo].[THEMTOURDULICH]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEMTOURDULICH] 
	@IDTOUR VARCHAR(50), 
	@NCC NVARCHAR(50),  
	@NOIDUNG NVARCHAR(50),
	@GIA INT
AS
BEGIN
	INSERT INTO TourDuLich VALUES (@IDTOUR, @NCC, @NOIDUNG, @GIA)
END


GO
/****** Object:  StoredProcedure [dbo].[THEMTHONGTINCHUYENPHONG]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEMTHONGTINCHUYENPHONG] 
	@IDKHACHHANG VARCHAR(50), 
	@IDPHONG VARCHAR(50),  
	@LYDO NVARCHAR(50)
AS
BEGIN
	INSERT INTO ThongTinChuyenPhong VALUES (@IDKHACHHANG, @IDPHONG, @LYDO)
END


GO
/****** Object:  StoredProcedure [dbo].[XEM_CTTHONGTINDATPHONG]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE /*or ALTER*/ PROC [dbo].[XEM_CTTHONGTINDATPHONG]
	@IDKH VARCHAR(50)
AS
BEGIN
	SELECT T.IDPhong, L.Ten, T.NgayCheckIn, T.NgayCheckOut, T.SoLuongNguoi
	FROM ThongTinDatPhong T JOIN KhachHang K ON T.IDKhachHang = K.IDKhachHang JOIN Phong P ON T.IDPhong = P.IDPhong JOIN LoaiPhong L ON P.IDLoai = L.IDloai
	WHERE T.IDKhachHang = @IDKH

	IF @@ERROR <> 0 RETURN 0
	ELSE RETURN 1
END

GO
/****** Object:  StoredProcedure [dbo].[XEM_DANGKYDV]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XEM_DANGKYDV]
	@IDKH VARCHAR(50)
AS
BEGIN 
	-- LỌC TRONG BẢNG DANGKYDICHVU THEO @IDKH CÓ @IDDV BẮT ĐẦU LÀ 'DV'
	SELECT dv.IDDichVu, dv.TenDV, DKDV.SL, DKDV.TongTien
	FROM DangKyDichVu DKDV, DichVu dv
	WHERE DKDV.IDKhachHang = @IDKH and dv.IDDichVu=DKDV.IDDichVu and  dv.IDDichVu LIKE 'DV%'
END

GO
/****** Object:  StoredProcedure [dbo].[XEM_DANGKYDVTOUR]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- XEM DANH SÁCH DỊCH VỤ TOUR ĐÃ ĐĂNG KÝ CỦA KHÁCH HÀNG @IDKH

CREATE /*or ALTER*/ PROC [dbo].[XEM_DANGKYDVTOUR]
	@IDKH VARCHAR(50)
AS 
BEGIN
	--LỌC TRONG BẢNG DANGKYTOUR THEO KHÁCH HÀNG @IDKH
	SELECT DKT.IDTour, DKT.SoNguoiDi, DKT.GioXuatPhat, DKT.TongTien
	FROM DangKyTour DKT
	WHERE DKT.IDKhachHang = @IDKH

	IF @@ERROR <> 0 RETURN 0
	ELSE RETURN 1
END

GO
/****** Object:  StoredProcedure [dbo].[XEM_DANGKYSP]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XEM_DANGKYSP]
	@IDKH VARCHAR(50)
AS
BEGIN 
	-- LỌC TRONG BẢNG DANGKYDICHVU THEO @IDKH CÓ @IDDV BẮT ĐẦU LÀ 'DV'
	SELECT dv.IDDichVu, dv.TenDV, DKDV.SL, DKDV.TongTien
	FROM DangKyDichVu DKDV, DichVu dv
	WHERE DKDV.IDKhachHang = @IDKH and dv.IDDichVu=DKDV.IDDichVu and dv.IDDichVu LIKE 'SP%'	
END

GO
/****** Object:  StoredProcedure [dbo].[XEM_DANGKYTOUR]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XEM_DANGKYTOUR]
	@IDKH VARCHAR(50)
AS
BEGIN 
	
	SELECT tdl.IDTour ,tdl.NCC, dkt.SoNguoiDi, dkt.TongTien
	FROM DangKyTour dkt, TourDuLich tdl
	WHERE dkt.IDKhachHang = @IDKH and tdl.IDTour=dkt.IDTour 
END

GO
/****** Object:  StoredProcedure [dbo].[XEM_DANHSACHDATPHONG]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- XEM DANH SÁCH ĐẶT PHÒNG

CREATE /*or ALTER*/ PROC [dbo].[XEM_DANHSACHDATPHONG]
AS
BEGIN
	SELECT DISTINCT T.IDKhachHang, K.TenKH, T.NgayDat
	FROM ThongTinDatPhong T JOIN KhachHang K ON T.IDKhachHang = K.IDKhachHang

	IF @@ERROR <> 0 RETURN 0
	ELSE RETURN 1
END

GO
/****** Object:  StoredProcedure [dbo].[XEM_DANHSACHKHACHHANG]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- XEM DANH SÁCH KHÁCH HÀNG

CREATE /*or ALTER*/ PROC [dbo].[XEM_DANHSACHKHACHHANG]
AS
BEGIN
	SELECT *
	FROM KhachHang K
	
	IF @@ERROR <> 0 RETURN 0
	ELSE RETURN 1
END

GO
/****** Object:  StoredProcedure [dbo].[XEMACCOUNT]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XEMACCOUNT]
AS
BEGIN
	SELECT * FROM Account
END

GO
/****** Object:  StoredProcedure [dbo].[XEMDICHVU]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XEMDICHVU]
AS
BEGIN
	SELECT * FROM DichVu
END

GO
/****** Object:  StoredProcedure [dbo].[XEMLOAIPHONG]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XEMLOAIPHONG]
AS
BEGIN
	SELECT * FROM LOAIPHONG
END
GO
/****** Object:  StoredProcedure [dbo].[XEMNHANVIEN]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XEMNHANVIEN]
AS
BEGIN
	SELECT * FROM NHANVIEN
END
GO
/****** Object:  StoredProcedure [dbo].[XEMPHONG]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XEMPHONG]
AS
BEGIN
	SELECT * FROM Phong
END

GO
/****** Object:  StoredProcedure [dbo].[XEMPHONGFILTER]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XEMPHONGFILTER]
	@TRANGTHAI NVARCHAR(50),
	@LOAIPHONG NVARCHAR(50),
	@TINHTRANG NVARCHAR(50)
AS
BEGIN
	IF @TRANGTHAI = N'Tất cả' AND @LOAIPHONG = N'Tất cả' AND @TINHTRANG = N'Tất cả'
	BEGIN SELECT * FROM PHONG END

	ELSE IF @TRANGTHAI = N'Tất cả' AND @LOAIPHONG = N'Tất cả' AND @TINHTRANG <> N'Tất cả'
	BEGIN SELECT * FROM PHONG WHERE PHONG.TINHTRANG = @TINHTRANG END 

	ELSE IF @TRANGTHAI = N'Tất cả' AND @LOAIPHONG <> N'Tất cả' AND @TINHTRANG = N'Tất cả'
	BEGIN SELECT * FROM PHONG WHERE PHONG.IDLOAI = @LOAIPHONG END 

	ELSE IF @TRANGTHAI <> N'Tất cả' AND @LOAIPHONG = N'Tất cả' AND @TINHTRANG = N'Tất cả'
	BEGIN SELECT * FROM PHONG WHERE PHONG.TRANGTHAI = @TRANGTHAI END
	
	
	ELSE IF @TRANGTHAI = N'Tất cả' AND @LOAIPHONG <> N'Tất cả' AND @TINHTRANG <> N'Tất cả'
	BEGIN SELECT * FROM PHONG WHERE (PHONG.IDLOAI = @LOAIPHONG AND PHONG.TINHTRANG = @TINHTRANG) END 

	ELSE IF @TRANGTHAI <> N'Tất cả' AND @LOAIPHONG = N'Tất cả' AND @TINHTRANG <> N'Tất cả'
	BEGIN SELECT * FROM PHONG WHERE (PHONG.TRANGTHAI = @TRANGTHAI AND PHONG.TINHTRANG = @TINHTRANG) END 

	IF @TRANGTHAI <> N'Tất cả' AND @LOAIPHONG <> N'Tất cả' AND @TINHTRANG = N'Tất cả'
	BEGIN SELECT * FROM PHONG WHERE (PHONG.TRANGTHAI = @TRANGTHAI AND PHONG.IDLOAI = @LOAIPHONG) END 

	
	ELSE IF @TRANGTHAI <> N'Tất cả' AND @LOAIPHONG <> N'Tất cả' AND @TINHTRANG <> N'Tất cả'
	BEGIN SELECT * FROM PHONG WHERE (PHONG.TRANGTHAI = @TRANGTHAI AND PHONG.IDLOAI = @LOAIPHONG AND PHONG.TINHTRANG = @TINHTRANG) END
END
GO
/****** Object:  StoredProcedure [dbo].[XEMPHUONGTIEN]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XEMPHUONGTIEN]
AS
BEGIN
	SELECT * FROM PhuongTien
END

GO
/****** Object:  StoredProcedure [dbo].[XEMTOURDULICH]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XEMTOURDULICH]
AS
BEGIN
	SELECT * FROM TourDuLich
END

GO
/****** Object:  StoredProcedure [dbo].[XOA_DANGKYDVSP]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XOA_DANGKYDVSP]
	@IDKH VARCHAR(50),
	@TENDV VARCHAR(50)
AS
BEGIN
	-- XOÁ ĐĂNG KÝ DỊCH VỤ / SẢN PHẨM @IDDV CỦA KHÁCH HÀNG @IDKH
		DECLARE @ID AS VARCHAR(50)
		SET @ID = (SELECT DV.IDDichVu FROM DichVu DV WHERE DV.TenDV = @TENDV)
		DELETE FROM DangKyDichVu
		WHERE IDKhachHang = @IDKH AND IDDichVu = @ID
END

GO
/****** Object:  StoredProcedure [dbo].[XOA_DANGKYDVTOUR]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- XOÁ ĐĂNG KÝ DỊCH VỤ TOUR

CREATE /*or ALTER*/ PROC [dbo].[XOA_DANGKYDVTOUR]
	@IDKH VARCHAR(50),
	@IDTOUR VARCHAR(50),
	@GIOXP VARCHAR(50),
	@SL INT
AS
BEGIN
	DELETE FROM DangKyTour
	WHERE IDKhachHang = @IDKH
		AND IDTour = @IDTOUR
		AND GioXuatPhat = @GIOXP
		AND SoNguoiDi = @SL

	IF @@ERROR <> 0 RETURN 0
	ELSE RETURN 1
END

GO
/****** Object:  StoredProcedure [dbo].[XOA_DANGKYTOUR]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XOA_DANGKYTOUR]
	@IDKH VARCHAR(50),
	@NCC VARCHAR(50)
AS
BEGIN
	-- XOÁ ĐĂNG KÝ DỊCH VỤ / SẢN PHẨM @IDDV CỦA KHÁCH HÀNG @IDKH
		DECLARE @ID AS VARCHAR(50)
		SET @ID = (SELECT tdl.IDTour FROM TourDuLich tdl WHERE tdl.NCC = @NCC)
		DELETE FROM DangKyTour
		WHERE IDKhachHang = @IDKH AND IDTour = @ID
END

GO
/****** Object:  StoredProcedure [dbo].[XOA_THONGTINDATPHONG]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE /*or ALTER*/ PROC [dbo].[XOA_THONGTINDATPHONG]
	@IDKH VARCHAR(50)
AS
BEGIN
	DELETE ThongTinDatPhong
	WHERE IDKhachHang = @IDKH
	
	IF @@ERROR <> 0 RETURN 0
	ELSE RETURN 1
END

GO
/****** Object:  StoredProcedure [dbo].[XOA_THONGTINKHACHHANG]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- XOÁ THÔNG TIN KHÁCH HÀNG

CREATE /*or ALTER*/ PROC [dbo].[XOA_THONGTINKHACHHANG]
	@IDKH VARCHAR(50)
AS
BEGIN
	DELETE KhachHang
	WHERE IDKhachHang = @IDKH

	IF @@ERROR <> 0 RETURN 0
	ELSE RETURN 1
END

GO
/****** Object:  StoredProcedure [dbo].[XOAACCOUNT]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XOAACCOUNT]
	@IDTK VARCHAR(50)
AS
BEGIN
	DELETE FROM Account
	WHERE IDTK = @IDTK
END

GO
/****** Object:  StoredProcedure [dbo].[XOADICHVU]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XOADICHVU]
	@IDDICHVU VARCHAR(50)
AS
BEGIN
	DELETE FROM DichVu
	WHERE IDDichVu = @IDDICHVU
END

GO
/****** Object:  StoredProcedure [dbo].[XOADOAN]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XOADOAN]
	@IDDOAN VARCHAR(50)
AS
BEGIN
	DELETE FROM Doan
	WHERE IDDoan = @IDDOAN
END

GO
/****** Object:  StoredProcedure [dbo].[XOALOAIPHONG]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XOALOAIPHONG]
	@IDLOAI VARCHAR(50)
AS
BEGIN
	DELETE FROM LOAIPHONG
	WHERE IDLOAI = @IDLOAI
END
GO
/****** Object:  StoredProcedure [dbo].[XOANHANVIEN]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XOANHANVIEN]
	@IDNHANVIEN VARCHAR(50)
AS
BEGIN
	DECLARE @IDTK VARCHAR(50)
	SET @IDTK = (SELECT AC.IDTK FROM Account AC WHERE AC.IDNhanVien = @IDNHANVIEN)
	EXEC XOAACCOUNT @IDTK

	DELETE FROM NHANVIEN
	WHERE IDNHANVIEN =  @IDNHANVIEN
END
GO
/****** Object:  StoredProcedure [dbo].[XOAPHONG]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XOAPHONG]
	@IDPHONG VARCHAR(50)
AS
BEGIN
	IF EXISTS (SELECT 1 FROM ThongTinDatPhong WHERE @IDPHONG = IDPhong)
	BEGIN
		RETURN
	END
	DELETE FROM Phong
	WHERE IDPhong = @IDPHONG
END
GO
/****** Object:  StoredProcedure [dbo].[XOAPHUONGTIEN]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XOAPHUONGTIEN]
	@IDNHAXE VARCHAR(50)
AS
BEGIN
	DELETE FROM PhuongTien
	WHERE IDNhaXe = @IDNHAXE
END

GO
/****** Object:  StoredProcedure [dbo].[XOATOURDULICH]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XOATOURDULICH]
	@IDTOUR VARCHAR(50)
AS
BEGIN
	DELETE FROM TourDuLich
	WHERE IDTour = @IDTOUR
END

GO
/****** Object:  StoredProcedure [dbo].[XOATHONGTINCHUYENPHONG]    Script Date: 7/3/2023 3:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XOATHONGTINCHUYENPHONG]
	@IDKHACHHANG VARCHAR(50), 
	@IDPHONG VARCHAR(50)
AS
BEGIN
	DELETE FROM ThongTinChuyenPhong
	WHERE IDKhachHang = @IDKHACHHANG AND IDPhong = @IDPHONG
END

GO
